.company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & img {
    width: 80px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  & span {
    font-size: 2rem;
    font-weight: 600;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 0.25rem;

  & a {
    display: block;
    width: 150px;
    padding: 0.6rem 0;
    text-align: center;
    font-weight: 600;
    transition: $fast-transition;
  }

  & .active {
    color: #da7803;
  }

  & .indicator {
    position: absolute;
    bottom: -0.25rem;
    width: 150px;
    height: 0.25rem;
    background-color: #da7803;
    transform: translateX(-150px);
    transition: $fast-transition;
  }
}
