* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  color: inherit;
  font-size: $text-base-size;
  line-height: 1;
}

body {
  background-color: $light-background;
  color: $dark-foreground;
  font-family: $font-family-sans, $font-family-system;
  width: 100%;
  background: linear-gradient(to right, #171d21, #273038, #171d21);
  min-height: 100vh;
}

#content {
  background-color: $light-background;
  box-shadow: 0 10px 10px #000, 0 10px 10px #000;

  @media (min-width: 1200px) {
    max-width: 2560px;
    margin: auto;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent);
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: right;
  color: $white-foreground;
  font-weight: 300;
  font-size: 0.8rem;
  text-shadow: $text-shadow-img;
  opacity: 0;
  transition: $fast-transition;
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;

  & a {
    font-size: 0.8rem;
  }
}

.visible {
  opacity: 1;
}
