* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  color: inherit;
  font-size: $text-base-size;
  line-height: 1;
}

body {
  background-color: $light-background;
  color: $dark-foreground;
  font-family: $font-family-system;
}

#content {
  @media (min-width: 1200px) {
    max-width: 1920px;
    margin: auto;
    border: 1px solid gray;
  }
}
