// Colors
$dark-background: #101112;
$white-foreground: #fff;

// Fonts
$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-mono: 'JetBrains Mono', monospace;

// Transitions
$fast-transition: 0.3s;
$slow-transition: 1s;
