// Colors
$dark-background: #101112;
$light-background: #eee;

$dark-foreground: #101112;
$white-foreground: #fff;

$light-gray: #ddd;
$orange: #da7803;
$blue: #45527b;

// Fonts
$font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
$font-family-mono: 'JetBrains Mono', monospace;

$text-base-size: 16px;
$menu-category-title: 1.8rem;

// Transitions
$fast-transition: 0.3s;
$slow-transition: 1s;

// Shadows
$text-shadow-img: 0 4px 4px #333;
$box-shadow-base: 0 4px 8px rgba(0, 0, 0, 0.3);
