.hero {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  background-image: url('../assets/images/caroline-attwood-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.5rem;

  & h1 {
    color: $white-foreground;
    text-shadow: $text-shadow-img, 0 0 4px #111;
    text-align: right;
    font-size: 4.5rem;
    font-weight: 400;
    max-width: 400px;
    animation: slide 1s forwards;
    position: relative;
  }

  & h1::after {
    content: 'New special: Cedar-Plank Salmon';
    position: absolute;
    bottom: -2rem;
    right: 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: $text-shadow-img, 0 0 5px #111;
    transition: 1s;
    animation: slide-after 1s ease-in;
  }
}

@keyframes slide {
  0% {
    margin-top: -5%;
    opacity: 0.5;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes slide-after {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .hero {
    background-position: left 40%;
  }
}
